examples/analyzetone.json
[{"id":"42b05e67.e598d8","type":"comment","z":"56b28383.2dda4c","name":"Analyze Emotional Tone","info":"","x":140,"y":500,"wires":[]},{"id":"368f84.bfbfa87c","type":"inject","z":"56b28383.2dda4c","name":"","topic":"","payload":"I love to code with the TJBot!","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":540,"wires":[["8feae63e.49148"]]},{"id":"cf214b78.1bf56","type":"debug","z":"56b28383.2dda4c","name":"","active":true,"console":"false","complete":"response","x":460,"y":540,"wires":[]},{"id":"8feae63e.49148","type":"tjbot-analyze-tone","z":"56b28383.2dda4c","botId":"d3235679.be9cf","name":"","x":270,"y":540,"wires":[["cf214b78.1bf56"]]},{"id":"d3235679.be9cf","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
