examples/converse.json
[{"id":"f2699e6b.ec1eb","type":"inject","z":"68e8b9a0.f2e068","name":"","topic":"","payload":"Wave your arm","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":840,"wires":[["c06673e.cc0c21"]]},{"id":"c06673e.cc0c21","type":"tjbot-converse","z":"68e8b9a0.f2e068","botId":"5c94911d.6e7cd","name":"","x":380,"y":840,"wires":[["51f5fff0.0db8c8"]]},{"id":"51f5fff0.0db8c8","type":"debug","z":"68e8b9a0.f2e068","name":"","active":true,"console":"false","complete":"response","x":560,"y":840,"wires":[]},{"id":"d8f23205.a5c5d","type":"comment","z":"68e8b9a0.f2e068","name":"TJBot Converses","info":"","x":180,"y":800,"wires":[]},{"id":"5c94911d.6e7cd","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
