examples/listen.json
[{"id":"fa9227ce.7e89","type":"tjbot-listen","z":"68e8b9a0.f2e068","botId":"5c94911d.6e7cd","name":"","x":490,"y":180,"wires":[["63ceb9d6.5b778"]]},{"id":"c6ce89f8.3ca3f","type":"inject","z":"68e8b9a0.f2e068","name":"Start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":160,"wires":[["383b8b79.e97bcc"]]},{"id":"39e1a756.e0d498","type":"inject","z":"68e8b9a0.f2e068","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["383b8b79.e97bcc"]]},{"id":"383b8b79.e97bcc","type":"change","z":"68e8b9a0.f2e068","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["fa9227ce.7e89"]]},{"id":"63ceb9d6.5b778","type":"debug","z":"68e8b9a0.f2e068","name":"","active":true,"console":"false","complete":"payload","x":650,"y":180,"wires":[]},{"id":"f1b265ff.90ce5","type":"comment","z":"68e8b9a0.f2e068","name":"TJBot Listens","info":"","x":150,"y":120,"wires":[]},{"id":"5c94911d.6e7cd","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
