examples/see.json
[{"id":"f6a99b3.38cab68","type":"inject","z":"56b28383.2dda4c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":2320,"wires":[["ea2ace8a.6543f8","20096a70.a7fe46","bdd60ccc.8263b"]]},{"id":"ea2ace8a.6543f8","type":"tjbot-see","z":"56b28383.2dda4c","botId":"d3235679.be9cf","mode":"see","name":"","x":410,"y":2320,"wires":[["669aaba0.8388c4","8006af16.839f88"]]},{"id":"669aaba0.8388c4","type":"function","z":"56b28383.2dda4c","name":"","func":"msg.payload = 'Watson sees '+msg.payload.map(function(c) {\n    return c['class'];\n}).join(', ');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2320,"wires":[["bf982347.b2aa9","363bfe68.95b8fa"]]},{"id":"bf982347.b2aa9","type":"debug","z":"56b28383.2dda4c","name":"","active":true,"console":"false","complete":"payload","x":730,"y":2320,"wires":[]},{"id":"aa869506.9206f8","type":"comment","z":"56b28383.2dda4c","name":"TJBot Sees","info":"","x":150,"y":2280,"wires":[]},{"id":"d3235679.be9cf","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
