examples/shine.json
[{"id":"fde446c3.3ebb","type":"inject","z":"56b28383.2dda4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["c8c22617.fe4","cb502e51.2374e"]]},{"id":"631b8251.4977ec","type":"tjbot-led","z":"56b28383.2dda4c","botId":"d3235679.be9cf","color":"black","name":"","x":410,"y":320,"wires":[]},{"id":"c8c22617.fe4","type":"tjbot-led","z":"56b28383.2dda4c","botId":"d3235679.be9cf","color":"red","name":"","x":260,"y":280,"wires":[]},{"id":"cb502e51.2374e","type":"delay","z":"56b28383.2dda4c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":320,"wires":[["631b8251.4977ec"]]},{"id":"1af29fae.8581f8","type":"comment","z":"56b28383.2dda4c","name":"Blink Light","info":"","x":100,"y":240,"wires":[]},{"id":"d3235679.be9cf","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
