examples/speak.json
[{"id":"567b1db3.f891e4","type":"inject","z":"68e8b9a0.f2e068","name":"","topic":"","payload":"Hello!","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":560,"wires":[["743a2025.96edd8"]]},{"id":"35aae517.095c72","type":"comment","z":"68e8b9a0.f2e068","name":"TJBot Speaks","info":"","x":250,"y":520,"wires":[]},{"id":"743a2025.96edd8","type":"tjbot-speak","z":"68e8b9a0.f2e068","botId":"5c94911d.6e7cd","name":"","x":390,"y":560,"wires":[[]]},{"id":"5c94911d.6e7cd","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
