examples/translate.json
[{"id":"5bec3dcd.f6ab44","type":"tjbot-translate","z":"56b28383.2dda4c","botId":"d3235679.be9cf","srcLang":"en","targetLang":"es","name":"","x":340,"y":420,"wires":[["2adaeca3.b813d4"]]},{"id":"8d48087a.cd78a","type":"inject","z":"56b28383.2dda4c","name":"","topic":"","payload":"Hello from TJBot!","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":420,"wires":[["5bec3dcd.f6ab44"]]},{"id":"2adaeca3.b813d4","type":"debug","z":"56b28383.2dda4c","name":"","active":true,"console":"false","complete":"response","x":520,"y":420,"wires":[]},{"id":"d55f416b.b83be","type":"comment","z":"56b28383.2dda4c","name":"Yo Hablo Español","info":"","x":130,"y":380,"wires":[]},{"id":"d3235679.be9cf","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
