examples/wavearm.json
[{"id":"9b139cbc.1fac4","type":"inject","z":"56b28383.2dda4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["6b4be4fb.32602c"]]},{"id":"6b4be4fb.32602c","type":"tjbot-wave","z":"56b28383.2dda4c","botId":"d3235679.be9cf","motion":"wave","name":"","x":250,"y":80,"wires":[]},{"id":"47c05df5.89ebbc","type":"comment","z":"56b28383.2dda4c","name":"Wave Arm","info":"","x":100,"y":40,"wires":[]},{"id":"d3235679.be9cf","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US"}]
